body {
  font-weight: 300;
  background-color: #70e3e7;
  font-family: sans-serif, arial, 'Times New Roman';
}

.heading {
  text-align: center;
  color: #28334aff;
  font-size: 55px;
  font-weight: 400;
}

.dash {
  margin: 0px 20px;
}
.cards {
  display: flex;
  justify-content: center;
}

.card {
  text-align: center;
}

.image {
  height: 200px;
  width: auto;
}

.container {
  justify-content: center;
  align-content: center;
}

.card-name {
  font-size: 35px;
  font-weight: 300;
  margin-top: 10px;
}

.points {
  font-size: 55px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.message {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 40px;
  text-align: center;
}






